.content {
    position: relative;
    padding-top: 30px;
}
.content--side-left {
    padding-left: 360px;
}
.side-left {
    position: absolute;
    left: 0;
    width: 330px;
}

.main {
    margin-bottom: 30px;
}