$header-height: 84px;

.header {
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}
.header-logo,
.header-menu,
.header-right {
    display: inline-block;
    vertical-align: middle;
    height: $header-height;
}
.header-logo,
.header-menu,
.search {
    float: left;
}
.header-logo {
    img {
        margin: 13px 0 0;
        height: 60px;
        width: auto;
        display: inline-block;
    }
}
.header-menu {
    padding: 0 15px;
    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            list-style: none;
            a {
                display: inline-block;
                line-height: $header-height;
                padding: 0 15px;
                color: #8594a2;
                text-decoration: none;
                &:hover {
                    color: #ff6064;
                }
                &:focus {

                }
            }
        }
    }
}
.search {
    display: inline-block;
    position: relative;
    margin: 24px 0;
    .search-icon {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    input {
        background: transparent;
        border: 0;
        outline: none;
        border: 2px solid #eff1f4;
        background: #eff1f4;
        border-radius: 50px;
        padding: 8px 15px 8px 35px;
        &:focus {
            background: #fff;
        }
    }
}
.header-right {
    float: right;

    .btn {
        padding: 8px 30px;
        margin: 24px 0 0 5px;
    }
}