
.search-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url(../images/icons/app_ic.png);
    background-size: 140px 54px;
    background-position: -108px 0;
}


.social-icon {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    min-height: 27px;
    min-width: 27px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 27px;
        height: 27px;
        background-image: url(../images/icons/social_ic.png);
        background-size: 150px 120px;
        background-repeat: no-repeat;
    }
    &.social-icon--vk {
        &:before {
            background-position: 0 0;
        }
        &:hover {
            &:before {
                background-position-y: -60px;
            }
        }
    }
    &.social-icon--twitter {
        &:before {
            background-position: -30px 0;
        }
        &:hover {
            &:before {
                background-position-y: -60px;
            }
        }
    }
    &.social-icon--instagram {
        &:before {
            background-position: -60px 0;
        }
        &:hover {
            &:before {
                background-position-y: -60px;
            }
        }
    }
    &.social-icon--skype {
        &:before {
            background-position: -90px 0;
        }
        &:hover {
            &:before {
                background-position-y: -60px;
            }
        }
    }
    &.social-icon--whatsapp {
        &:before {
            background-position: -120px 0;
        }
        &:hover {
            &:before {
                background-position-y: -60px;
            }
        }
    }
    &.social-icon--google {
        &:before {
            background-position: 0 -30px;
        }
        &:hover {
            &:before {
                background-position-y: -90px;
            }
        }
    }
    &.social-icon--viber {
        &:before {
            background-position: -30px -30px;
        }
        &:hover {
            &:before {
                background-position-y: -90px;
            }
        }
    }
    &.social-icon--youtube {
        &:before {
            background-position: -60px -30px;
        }
        &:hover {
            &:before {
                background-position-y: -90px;
            }
        }
    }
    &.social-icon--facebook {
        &:before {
            background-position: -90px -30px;
        }
        &:hover {
            &:before {
                background-position-y: -90px;
            }
        }
    }
    &.social-icon--ok {
        &:before {
            background-position: -120px -30px;
        }
        &:hover {
            &:before {
                background-position-y: -90px;
            }
        }
    }
}


.category_icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url(../images/icons/category_ic.png);
    background-size: 189px 27px;

    &.category_icon--discount {
        background-position: 0 0;
    }
    &.category_icon--events {
        background-position: -27px 0;
    }
    &.category_icon--hires {
        background-position: -54px 0;
    }
    &.category_icon--news {
        background-position: -81px 0;
    }
    &.category_icon--sales {
        background-position: -108px 0;
    }
    &.category_icon--services {
        background-position: -135px 0;
    }
    &.category_icon--special {
        background-position: -162px 0;
    }
}


.action-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url(../images/icons/app_ic.png);
    background-size: 140px 54px;

    &.action-icon--comment {
        background-position: 0 0;
    }
    &.action-icon--favorit {
        background-position: -27px 0;
    }
    &.action-icon--like {
        background-position: -54px 0;
    }
}

