.profile {
    text-align: center;
}

.profile-header {
    position: relative;
    margin: -30px -30px 0 -30px;
}
.profile-header_bg {
    position: relative;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 170px;
    width: auto;
    margin: -10px;
    top: -20px;
    margin-bottom: 85px;
    overflow: hidden;
    .profile-background {
        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        height: 100%;
        filter: blur(5px);
        filter: blur(5px) brightness(1.1);
        opacity: .6;
        background-size: cover;
        background-position: center center;
    }
}
.profile-header_ava {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    img {
        margin: 65px 0 0;
        width: 170px;
        border-radius: 8px;
        border: 3px solid #fff;
    }
}

.profile-name {
    font-size: 1.65rem;
    padding: 10px 0;
    margin-bottom: 5px;
    color: #15212d;
}

.profile-follow {
    margin-bottom: 15px;
}

.profile-descript {
    font-size: .8rem;
    margin-bottom: 15px;
    line-height: 1.4;
}

.profile-contacts {
    margin-bottom: 10px;
}
.profile-contacts_tel {
    margin-bottom: 10px;
    span {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 2px;

        &:first-child,
        &:nth-child(2n+1) {
            margin-left: 0;
        }
    }
}
.profile-contacts_site {
    margin-bottom: 10px;
}
.profile-contacts_social {
    .social-icon {
        cursor: pointer;
        margin-left: 5px;
        margin-bottom: 5px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.profile-map {
    margin-bottom: 15px;
}

.profile-tags {
    text-align: left;
}
.profile-tags_title {
    font-size: .8rem;
    color: #8594a2;
    margin-bottom: 10px;
}
.profile-tags_wrapper {
    @include clearfix();
    
    .tag {
        display: inline-block;
        float: left;
        margin: 0 2px 4px 0;
        font-size: .75rem;
        padding: 4px 10px;
        border-radius: 50px;
        cursor: pointer;
        border: 2px solid #eff1f4;
        background: #eff1f4;
        color: #0a5198;
        &:last-child {
            margin: 0 0 4px 0;
        }
        &:hover {
            color: #ff6064;
            background: #fff;
            border-color: #ff6064;
        }
    }
}